<div class="modal fade modal-lg" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <%= form_with(model: post) do |form| %>
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="staticBackdropLabel">Create new post</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body d-flex">
          <div class="border-end border-secondary mx-2" style="width: 60%">
            <%= form.file_field :images, multiple: true, id: 'post_images' %>
          </div>
          <div style="width: 40%">
            <% if post.errors.any? %>
              <div style="color: red">
                <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>
                <ul>
                  <% post.errors.each do |error| %>
                    <li><%= error.full_message %></li>
                  <% end %>
                </ul>
              </div>
            <% end %>
            <div class="my-2">
              <% if current_user.avatar.attached? %>
                <%= image_tag current_user.avatar, class: "img-thumbnail rounded-circle", style: "width: 10%" %>
              <% else %>
                <%= image_tag 'default_avatar.png', class: "img-thumbnail rounded-circle", style: "width: 10%" %>
              <% end %>
              <span class="fw-bold mx-2">
            <%= current_user.nickname %>
          </span>
            </div>
            <div>
              <%= form.text_area :caption, rows: 8, placeholder: 'Write a caption...', class: 'form-control border-0', style: "resize: none" %>
            </div>
            <div>
              <%= form.text_field :location, placeholder: 'Add location', class: 'form-control' %>
            </div>
            <div class="d-flex justify-content-between align-item-center border form-control my-2" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
              <a class="text-dark" style="text-decoration: none">
                Advanced settings
              </a>
              <i class="fa-solid fa-chevron-down my-2"></i>
            </div>
            <div class="collapse" id="collapseExample">
              <div class="card card-body border-0">
                <div class="form-check form-switch">
                  <%= form.check_box :allow_comments, class: 'form-check-input', role: 'switch' %>
                  <%= form.label :allow_comments, class: 'form-check-label', style: "display: block" %>
                </div>
                <div class="form-check form-switch">
                  <%= form.check_box :show_likes_count, class: 'form-check-input', role: 'switch' %>
                  <%= form.label :show_likes_count, class: 'form-check-label', style: "display: block" %>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <%= form.submit 'Post', class: 'btn btn-primary' %>
        </div>
    <% end %>
    </div>
  </div>
</div>
