<div id="<%= dom_id post %>">
  <div class="card" style="width: 25rem;">
    <div class="card-header bg-white">
      <div class="d-flex justify-content-between">
        <div>
          <% if post.user.avatar.attached? %>
            <%= image_tag post.user.avatar, class: "img-thumbnail rounded-circle", style: "width: 10%" %>
          <% else %>
            <%= image_tag 'default_avatar.png', class: "img-thumbnail rounded-circle", style: "width: 10%" %>
          <% end %>
          <span class="fw-bold mx-2">
            <%= post.user.nickname %>
          </span>
        </div>
        <div>
          <div class="dropdown">
            <a class="text-dark fs-4" style="text-decoration: none" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              ...
            </a>
            <ul class="dropdown-menu">
              <li>
                <%= link_to "Edit this post", edit_post_path(post), class: "dropdown-item" %>
              </li>
              <li>
                <%= button_to "Delete this post", @post, method: :delete, class: "dropdown-item" %>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="card-body">
      <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
        <div class="carousel-inner">
          <% post.images.each_with_index do |img, i| %>
            <div class="carousel-item <%= i.zero? ? 'active' : '' %>" style="height: 25rem">
              <%= image_tag img, class: "d-block w-100", style: "max-height: 100%; object-fit: cover" %>
            </div>
          <% end %>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
          <span class="carousel-control-prev-icon bg-transparent" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
          <span class="carousel-control-next-icon  bg-transparent" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
        <div class="carousel-indicators" style="position: static">
          <% post.images.each_with_index do |img, i| %>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="<%= i %>" class=" bg-dark <%= i.zero? ? 'active' : '' %>" <%= i.zero? ? 'aria-current="true"' : '' %> aria-label="Slide '<%= i + 1 %>'">
            </button>
          <% end %>
        </div>
      </div>
      <p class="card-text">
        <span class="fw-bold">
          <%= post.user.nickname %>
        </span>
        <%= post.caption %>
      </p>
      <small class="text-muted"> <%= time_ago_in_words(post.created_at) %></small>
    </div>
    <div class="card-footer d-flex justify-content-between bg-white">
      <input type="text" class="w-75" placeholder="Add a comment..." style="border: none">
      <a class="text-primary fw-bold" style="text-decoration: none"> Post</a>
    </div>
  </div>
</div>
